In [1]:
import pandas as pd
import time
from tqdm import tqdm
from yelpapi import YelpAPI

# Get Yelp Business data
Given that these are all the places with reviews, get their information from Yelp

In [2]:
df1 = pd.read_pickle('all_yelp_ids.pkl')
df2 = pd.read_pickle('geocoded_df.pkl')
df3 = df1.merge(df2, how='inner', on='dph_id')

,dph_id,yelp_id,map_add,name,score,date,lat,lng,place_id,types
0,MTIzMDIzODE=,u_irrlZiHMa7ueeUHqHtvA,"4975 FLAT SHOALS PKWY, DECATUR, GA 30034",THE SPOT SPORTS BAR AND LOUNGE,82,03-28-2023,33.679683,-84.225939,ChIJ_VJqwyCr9YgRqi3SpD0y_D4,[premise]
1,MTIzMDI4MTI=,39r2fM5P8heVXlLgYkmSaA,"6000 MEMORIAL DR, STONE MOUNTAIN, GA 30083",CHECKERS 3299,75,03-28-2023,33.802508,-84.194184,ChIJI1XSV9Co9YgRTaCjP9meAGU,"[establishment, food, point_of_interest, resta..."
2,MTI3NzEzMjA=,QjL9fgvhsJta7SSX7P8YMw,"1245 GLENWOOD AVE BOOTH 6, ATLANTA, GA 30316",WOODY'S CHEESESTEAKS @ SOUTHERN FEED STORE,90,03-28-2023,33.740018,-84.346687,ChIJf_mTH24B9YgRakzoS_Ul8PY,"[establishment, food, point_of_interest, resta..."
3,MTI3NzE5MzM=,c2Ta5My44Uz4tT_jrq6u5w,"1245 GLENWOOD AVE BOOTH 5, ATLANTA, GA 30316",BUTECO COFFEE & BAR,90,03-28-2023,33.740018,-84.346687,ChIJFTylmyQB9YgRoqYQtN0zT_w,"[bar, establishment, point_of_interest]"
4,MTI3NzIwOTA=,lhxEztxsao9WfyfWuSpJfw,"1245 GLENWOOD AVE, ATLANTA, GA 30316",WAFFLE BAR,96,03-28-2023,33.740018,-84.346687,ChIJK9uF2ncB9YgR9OYM7wwSMhM,"[establishment, food, point_of_interest, resta..."
...,...,...,...,...,...,...,...,...,...,...
4398,Nzk1Mzg0NQ==,iJ1vqcHFhDSR-vunw7np-w,"1 GLENLAKE PKWY, ATLANTA, GA 30328",Salt and Block,100,06-17-2020,33.934143,-84.359589,ChIJmZvS9akO9YgRzttitW3oTwU,"[cafe, establishment, food, point_of_interest,..."
4399,OTQ4NDkzOQ==,g0KkQmGXCtxkzHWoYEQa4A,"699 PONCE DE LEON AVE NE, ATLANTA, GA 30308",Rina,91,06-11-2020,33.772659,-84.364304,ChIJf4qwAK4F9YgRVupJKoORNMc,"[establishment, food, point_of_interest, resta..."
4400,ODg2NDA0,RE8bmfnqfcYEpbUHo3dYVQ,"860 BANKHEAD HWY, ATLANTA, GA 30318",Church's Chicken,81,06-04-2020,33.772831,-84.415690,ChIJzaE75HAb9YgRBRlaqDNx2lM,"[establishment, food, point_of_interest, resta..."
4401,Nzk1NjQzMw==,t4M0yOSVLz59H7JQi3FUSQ,"296 NORTHSIDE DR SE STE B, ATLANTA, GA 30315",Boston Fish Supreme,92,05-11-2020,33.746267,-84.405973,ChIJ59NmO3AD9YgRJsL3BTxHUVk,"[establishment, food, point_of_interest, resta..."
4402,MTIyNzQwOTg=,WN4j8Bgc4Xex-HVIxPIi3w,"4285 ROSWELL RD STE 6, ATLANTA, GA 30342",Sahara Cafe,100,04-29-2020,33.871847,-84.380530,ChIJQUU4JJEP9YgR_JBd6sT5yrg,"[establishment, food, point_of_interest, resta..."

In [6]:
api_key = "qOWiNCp8Sblg84q0uiPRXiksxMk2DzMvMRnnSI29PxS-xv9sG9e4yxJ-lPHFaMHaacOJ8uBOZX4T1rY3fhnZTzzy4ZW2m_vT-WhnYgix5RSSc4VnFQw0-lQmQVQxZHYx"

responses = []
frame = df3
for index, entity in tqdm(frame.iterrows(), total=frame.shape[0]):
    try:
        with YelpAPI(api_key) as yelp_api:
            response = yelp_api.business_query(id=entity['yelp_id'])
        row = {
            'dph_id': entity['dph_id'],
            'result': response
        }
    except Exception as e:
        row = {
            'dph_id': entity['dph_id'],
            'result': []
        }
        print(e)
    responses.append(row)
    time.sleep(20/1000)

 79%|███████▉  | 3470/4403 [15:33<04:54,  3.17it/s]

NOT_FOUND: Resource could not be found.

 91%|█████████ | 3985/4403 [17:45<02:11,  3.18it/s]

NOT_FOUND: Resource could not be found.

100%|██████████| 4403/4403 [19:34<00:00,  3.75it/s]

In [10]:
filt_resp = []
for r in responses:
    if len(r['result']) != 0:
        filt_resp.append(r)

filt_resp = pd.DataFrame.from_records(filt_resp)
filt_resp.to_pickle('yelp_all_data.pkl')
filt_resp

            dph_id                                             result
0     MTIzMDIzODE=  {'id': 'u_irrlZiHMa7ueeUHqHtvA', 'alias': 'the...
1     MTIzMDI4MTI=  {'id': '39r2fM5P8heVXlLgYkmSaA', 'alias': 'che...
2     MTI3NzEzMjA=  {'id': 'QjL9fgvhsJta7SSX7P8YMw', 'alias': 'woo...
3     MTI3NzE5MzM=  {'id': 'c2Ta5My44Uz4tT_jrq6u5w', 'alias': 'but...
4     MTI3NzIwOTA=  {'id': 'lhxEztxsao9WfyfWuSpJfw', 'alias': 'waf...
...            ...                                                ...
4396  Nzk1Mzg0NQ==  {'id': 'iJ1vqcHFhDSR-vunw7np-w', 'alias': 'sal...
4397  OTQ4NDkzOQ==  {'id': 'g0KkQmGXCtxkzHWoYEQa4A', 'alias': 'rin...
4398      ODg2NDA0  {'id': 'RE8bmfnqfcYEpbUHo3dYVQ', 'alias': 'chu...
4399  Nzk1NjQzMw==  {'id': 't4M0yOSVLz59H7JQi3FUSQ', 'alias': 'bos...
4400  MTIyNzQwOTg=  {'id': 'WN4j8Bgc4Xex-HVIxPIi3w', 'alias': 'sah...

[4401 rows x 2 columns]

In [83]:
# Serialize these responses we're interested in
serialized = []

for index, resp in filt_resp.iterrows():
    r = resp['result']
    price = len(r.get('price', ''))
    s = {
        'dph_id': resp['dph_id'],
        'yelp_id': r['id'],
        'rating': r['rating'],
        'review_count': r['review_count'],
        'img_url': r['image_url'],
        'yelp_name': r['name'],
        'price': price
    }
    serialized.append(s)

serialized = pd.DataFrame.from_records(serialized)
serialized

,dph_id,yelp_id,rating,review_count,img_url,yelp_name,price
0,MTIzMDIzODE=,u_irrlZiHMa7ueeUHqHtvA,2.5,26,https://s3-media4.fl.yelpcdn.com/bphoto/xcsf4Y...,The Spot Sports Bar And Grill,0
1,MTIzMDI4MTI=,39r2fM5P8heVXlLgYkmSaA,1.5,28,https://s3-media4.fl.yelpcdn.com/bphoto/eqdMzy...,Checkers,1
2,MTI3NzEzMjA=,QjL9fgvhsJta7SSX7P8YMw,3.5,20,https://s3-media4.fl.yelpcdn.com/bphoto/H9KSBt...,Woody's Cheesesteaks,0
3,MTI3NzE5MzM=,c2Ta5My44Uz4tT_jrq6u5w,5.0,2,https://s3-media2.fl.yelpcdn.com/bphoto/nx4wvS...,Buteco EAV,0
4,MTI3NzIwOTA=,lhxEztxsao9WfyfWuSpJfw,4.0,23,https://s3-media1.fl.yelpcdn.com/bphoto/vWOLn5...,Waffle Bar,0
...,...,...,...,...,...,...,...
4396,Nzk1Mzg0NQ==,iJ1vqcHFhDSR-vunw7np-w,4.0,8,https://s3-media1.fl.yelpcdn.com/bphoto/ZaelGz...,Salt + Block,1
4397,OTQ4NDkzOQ==,g0KkQmGXCtxkzHWoYEQa4A,4.5,203,https://s3-media2.fl.yelpcdn.com/bphoto/ZXKglF...,Rina,2
4398,ODg2NDA0,RE8bmfnqfcYEpbUHo3dYVQ,3.0,10,https://s3-media3.fl.yelpcdn.com/bphoto/U-CJhb...,Church's Chicken,1
4399,Nzk1NjQzMw==,t4M0yOSVLz59H7JQi3FUSQ,3.5,12,https://s3-media2.fl.yelpcdn.com/bphoto/YgKepQ...,Boston Fish Supreme,1
4400,MTIyNzQwOTg=,WN4j8Bgc4Xex-HVIxPIi3w,5.0,116,https://s3-media3.fl.yelpcdn.com/bphoto/eUWGkz...,Sahara Cafe,0

In [84]:
agg_df = pd.read_pickle('entity_aggregation.pkl')

In [85]:
yelp_df = serialized.merge(agg_df, how='inner', on='dph_id')

In [86]:
yelp_merged_df = yelp_df.merge(df2, how='inner', on='dph_id')
yelp_merged_df.to_pickle('final_yelpd_df.pkl')
yelp_merged_df

,dph_id,yelp_id,rating,review_count,img_url,yelp_name,price,violations,years_data,lifetime_count,...,lifetime_avg,violation_rate,map_add,name,score,date,lat,lng,place_id,types
0,MTIzMDIzODE=,u_irrlZiHMa7ueeUHqHtvA,2.5,26,https://s3-media4.fl.yelpcdn.com/bphoto/xcsf4Y...,The Spot Sports Bar And Grill,0,"[6-1B, 12B, 13A, 18, 4-2B, 4-2B, 6-1A, 6-1B, 1...",2.276712,15,...,82.666667,6.588448,"4975 FLAT SHOALS PKWY, DECATUR, GA 30034",THE SPOT SPORTS BAR AND LOUNGE,82,03-28-2023,33.679683,-84.225939,ChIJ_VJqwyCr9YgRqi3SpD0y_D4,[premise]
1,MTIzMDI4MTI=,39r2fM5P8heVXlLgYkmSaA,1.5,28,https://s3-media4.fl.yelpcdn.com/bphoto/eqdMzy...,Checkers,1,"[2-2D, 2-2D, 4-2B, 6-1A, 15A, 15C, 17C, 18, 18...",2.027397,29,...,84.000000,14.304054,"6000 MEMORIAL DR, STONE MOUNTAIN, GA 30083",CHECKERS 3299,75,03-28-2023,33.802508,-84.194184,ChIJI1XSV9Co9YgRTaCjP9meAGU,"[establishment, food, point_of_interest, resta..."
2,MTI3NzEzMjA=,QjL9fgvhsJta7SSX7P8YMw,3.5,20,https://s3-media4.fl.yelpcdn.com/bphoto/H9KSBt...,Woody's Cheesesteaks,0,"[2-2D, 2-2D, 11A, 18, 6-1A, 14B]",1.276712,6,...,93.333333,4.699571,"1245 GLENWOOD AVE BOOTH 6, ATLANTA, GA 30316",WOODY'S CHEESESTEAKS @ SOUTHERN FEED STORE,90,03-28-2023,33.740018,-84.346687,ChIJf_mTH24B9YgRakzoS_Ul8PY,"[establishment, food, point_of_interest, resta..."
3,MTI3NzE5MzM=,c2Ta5My44Uz4tT_jrq6u5w,5.0,2,https://s3-media2.fl.yelpcdn.com/bphoto/nx4wvS...,Buteco EAV,0,"[2-2D, 4-2A, 2-1B, 2-2D, 12B, 12B]",1.276712,6,...,91.333333,4.699571,"1245 GLENWOOD AVE BOOTH 5, ATLANTA, GA 30316",BUTECO COFFEE & BAR,90,03-28-2023,33.740018,-84.346687,ChIJFTylmyQB9YgRoqYQtN0zT_w,"[bar, establishment, point_of_interest]"
4,MTI3NzIwOTA=,lhxEztxsao9WfyfWuSpJfw,4.0,23,https://s3-media1.fl.yelpcdn.com/bphoto/vWOLn5...,Waffle Bar,0,"[2-2E, 8-2B, 17D]",1.276712,3,...,97.000000,2.349785,"1245 GLENWOOD AVE, ATLANTA, GA 30316",WAFFLE BAR,96,03-28-2023,33.740018,-84.346687,ChIJK9uF2ncB9YgR9OYM7wwSMhM,"[establishment, food, point_of_interest, resta..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4386,Nzk1Mzg0NQ==,iJ1vqcHFhDSR-vunw7np-w,4.0,8,https://s3-media1.fl.yelpcdn.com/bphoto/ZaelGz...,Salt + Block,1,[],0.000000,0,...,100.000000,0.000000,"1 GLENLAKE PKWY, ATLANTA, GA 30328",Salt and Block,100,06-17-2020,33.934143,-84.359589,ChIJmZvS9akO9YgRzttitW3oTwU,"[cafe, establishment, food, point_of_interest,..."
4387,OTQ4NDkzOQ==,g0KkQmGXCtxkzHWoYEQa4A,4.5,203,https://s3-media2.fl.yelpcdn.com/bphoto/ZXKglF...,Rina,2,"[2-2B, 6-2, 6-2, 14A]",0.000000,4,...,91.000000,4.000000,"699 PONCE DE LEON AVE NE, ATLANTA, GA 30308",Rina,91,06-11-2020,33.772659,-84.364304,ChIJf4qwAK4F9YgRVupJKoORNMc,"[establishment, food, point_of_interest, resta..."
4388,ODg2NDA0,RE8bmfnqfcYEpbUHo3dYVQ,3.0,10,https://s3-media3.fl.yelpcdn.com/bphoto/U-CJhb...,Church's Chicken,1,"[4-2B, 6-1B, 15C, 17C, 18]",0.000000,5,...,81.000000,5.000000,"860 BANKHEAD HWY, ATLANTA, GA 30318",Church's Chicken,81,06-04-2020,33.772831,-84.415690,ChIJzaE75HAb9YgRBRlaqDNx2lM,"[establishment, food, point_of_interest, resta..."
4389,Nzk1NjQzMw==,t4M0yOSVLz59H7JQi3FUSQ,3.5,12,https://s3-media2.fl.yelpcdn.com/bphoto/YgKepQ...,Boston Fish Supreme,1,"[2-2D, 11C, 17D]",0.000000,3,...,92.000000,3.000000,"296 NORTHSIDE DR SE STE B, ATLANTA, GA 30315",Boston Fish Supreme,92,05-11-2020,33.746267,-84.405973,ChIJ59NmO3AD9YgRJsL3BTxHUVk,"[establishment, food, point_of_interest, resta..."
4390,MTIyNzQwOTg=,WN4j8Bgc4Xex-HVIxPIi3w,5.0,116,https://s3-media3.fl.yelpcdn.com/bphoto/eUWGkz...,Sahara Cafe,0,[],0.000000,0,...,100.000000,0.000000,"4285 ROSWELL RD STE 6, ATLANTA, GA 30342",Sahara Cafe,100,04-29-2020,33.871847,-84.380530,ChIJQUU4JJEP9YgR_JBd6sT5yrg,"[establishment, food, point_of_interest, resta..."